/* @imports
--------------*/
@import url('http://cdn.myld.com.au/1/js/plugins/CameraSlider/1.3.4/camera.min.css');
@import url('http://cdn.myld.com.au/1/js/cform_validation/validation-2.1.min.css');
/*@import url('http://cdn.myld.com.au/1/fancybox/jquery.fancybox-1.3.4.min.css');
@import url('http://cdn.myld.com.au/1/js/plugins/PhotoSwipe/photoswipe.min.css');*/ /* gallery */
/*@import url('http://cdn.myld.com.au/1/js/plugins/Faq/faq.min.css');*/ /*FAQ*/

/* @font-faces
--------------*/

/* @general styles
-----------------*/
html, body {
    height: 100%;
}

body {
    
}

.wrapper {
    min-height: 100%;
    position: relative;
}

h1, h2, h3, h4, b {
	font-weight: ;
}

a, a:hover {
	color: inherit;
}

img {
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden; 
	-ms-backface-visibility: hidden; 
	backface-visibility: hidden; 

}

::selection {
  background: rgba(200, 200, 200, .6);
}

::-moz-selection {
  background: rgba(200, 200, 200, .6);
}

::-webkit-selection {
  background: rgba(200, 200, 200, .6);
}

.schema-address {
	display: none;
}

/* header
-----------------*/
header {
	background: ;
}

.logo {
	padding-top: ;
	padding-bottom: ;
}

.logo a {
	display: inline-block;
	max-width: 100%;
}

.nav > li > a {
	background-color: ;
	font-size: ;
	font-weight: ;
	color: ;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li > a:hover,
.nav > li > a:focus {
	background-color: ;
	font-weight: ;
}

/* Slider
-----------------*/
#slider {
	height: 596px;
}

#contact-us #slider {
	display: none;
}

.camera_wrap {
	float: none;
	max-height: 596px;
}

.camera_fakehover {
	min-height: 596px;
}

/* contact page
-----------------*/
#map-canvas {
	width: 100%;
	height: 300px;
}

#spambox input[type="text"]#spam {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-custom {
	background-color: #;
	border-color: #;
	color: # !important;
	-webkit-border-radius: 0px; 
	-moz-border-radius: 0px; 
	border-radius: 0px;
	margin-bottom: 30px;
}

.btn-custom:hover,
.btn-custom:focus {
	background-color: #;
	border-color: #;
}

/* footer
-----------------*/
.footer {
	background-color: ;
	color: ;
}

.footer h3 {
	font-size: ;
	font-weight: ;
}

.footer p,
.footer li {
	font-size: ;
	font-weight: ;
	line-height: ;
}

.footer ul {
	list-style-type: none;
	padding-left: 0;
}

address {
    padding-left: 20px;
}

address i {
    float: left;
    margin-left: -20px;
    marign-right: 5px;
}

/* content
-----------------*/
.welcome-area {
	padding-top: ;
	padding-bottom: ;
}

.intro-area {
	padding-top: ;
	padding-bottom: ;
}

.feature-area {
	padding-top: ;
	padding-bottom: ;
}

.feature {
	display: block;
}

.feature:hover {
	text-decoration: none;
}

.feature h2 {
	font-size: ;
	font-weight: ;
	margin-top: ;
	margin-bottom: ;
	color: ;
}

.feature p {
	font-size: ;
	font-weight: ;
	color: ;
}

.content-area {
	
}

.content-area h2 {
	font-size: ;
	font-weight: ;
	margin-top: ;
	margin-bottom: ;
	color: ;
}

.content-area p,
.content-area li,
.content-area label {
	font-size: ;
	font-weight: ;
	color: ;
}

.content-area p,
.content-area ul {
	margin-bottom: ;
}

.content-area a {
	font-weight: ;
	color: #;
}

/*.fancybox,*/
.img-box {
	display: inline-block;
	max-width: 100%;
}

/*.fancybox:hover {
	
}
*/
/*#faq-number {
	background-color: #;
	line-height: ;
}*/

/* ie9 hack
-----------------*/
.ie9 .gradient{filter:none;}

/* @media queries
-----------------*/
@media (min-width: 768px) {

}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	.container {
		width: ;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

}

/*beginning of default fixed menu bar*/
@media (max-width: 991px) {
	#map-canvas {
		height: 300px;
	}
	.logo {
		text-align: center;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (max-width: 767px) {
	#map-canvas {
		height: 200px;
	}
}

@media (max-width: 568px) {

}

@media (max-width: 480px) {

}

/* Device specific media queries ----------- */
/* Tablets */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { ... }

/* iPads (landscape) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) { ... }

/* iPads (portrait) */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { ... }

/* iPhone */
@media only screen  
and (max-device-width : 568px) { /* STYLES GO HERE */ }
